
	<div class="row">
	
		<div class="large-4  columns">
			<div class="bloque-footer">
			<ul class="vcard">
			  <li class="fn">Caledonian</li>
			  <hr>
			  <li class="street-address">Avda. de Portugal, 8</li>
			  <li class="locality">Cádiz</li>
			  <li><span class="state">España</span>, <span class="zip">11009</span></li>
			  <li class="email"><a href="#">caledonian@caledonian.com</a></li>
			</ul>
			</div>
		</div>
		
		<div class="large-4 columns hide-for-small">
		<div class="bloque-footer">
		¿Iconos?
		</div>
		</div>
		
		<div id="mapa-footer" class="large-4 columns">
			<div id="map-canvas-wrapper" class="bloque-footer">
			<div id="map-canvas" >
			Derecha
			</div>
			</div>
		</div>
	
	</div>