<div class="row hide-for-small">
	<div class="large-12 columns">
		<h1 id="sitename"> {{ app.config.general.sitename }}</h1>
		<h2 id="payoff">{{ app.config.general.payoff }}</h2>
	</div>
</div>

<div id="barra-menu">
<div class="row">
	<div class="large-12 columns">
		{{ menu('main', '_menu_principal.twig') }}
	</div>
</div>
</div>