{% extends 'layout.twig' %}

{% block contenido %}
{{ parent() }}
<article class="pagina">

<header class="titulo-pagina">	
	<h1>{{ page.title }}</h1>
</header>

<div class="cuerpo-pagina">
	{{ page.body }}
</div>

</article>

{% endblock %}